<div id="tareas-view" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/tareas-view.less</em>, <em>assets/js/pages/tareas-view.page.js</em>, and <em>api/controllers/view-tareas-view.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
